@model RBMTEngAmh.Models.RBTM.Verbs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Verbs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reg_stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reg_stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irreg_stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irreg_stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irreg_past)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irreg_past)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irret_PP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irret_PP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
