@model RBMTEngAmh.Models.RBTM.Verbs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Verbs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reg_stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reg_stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irreg_stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irreg_stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irreg_past)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irreg_past)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.irret_PP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irret_PP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
