@model IEnumerable<RBMTEngAmh.Models.RBTM.Verbs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reg_stem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.irreg_stem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.irreg_past)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.irret_PP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reg_stem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.irreg_stem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.irreg_past)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.irret_PP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
