@model RBMTEngAmh.Models.RBTM.WordFeed

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WordFeed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordPOSType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordPOSType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RootWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RootWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrregularPluralNoun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrregularPluralNoun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrregularPastVerb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrregularPastVerb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrregularPPVerb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrregularPPVerb)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
