@model RBMTEngAmh.Models.RBTM.Nouns

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nouns</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Regular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Irregular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Irregular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrregularPlural)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrregularPlural)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
