@model IEnumerable<RBMTEngAmh.Models.RBTM.Nouns>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Regular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Irregular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IrregularPlural)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Regular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Irregular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IrregularPlural)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
