
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>English to Amahric Translation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Sentences : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("sentences", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("sentences", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Translate" class="btn btn-default" />
            </div>
        </div>

        @{
            if (ViewBag.ResultDisplay)
            {

                <div class="form-group">
                    @Html.Label("Source Lang Morphim : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.SourceLanguageRule
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Source Lang Rule : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.SourceRulesOrder
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.Label("Target Lang Rule : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.TargetRulesOrder
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.Label("Target Lang Morphiim : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.TargetLanguageRule
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Re-Ordered Sentences : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.ReOrderedSentences
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Translated Result : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.OutPutMessage
                    </div>
                </div>
                
            }
        }
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
