@model RBMTEngAmh.Models.RBTM.TranslationRules

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TranslationRules</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnglishRules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishRules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmharicRules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmharicRules)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RuleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
